.table__cell {
    border: 0 !important;
    text-align: center !important;
    font-size: 12px;
}

.even__table__row {
    background-color: cadetblue !important;
}

.table__content__cell {
    padding-top: 20px !important;
    border: 0 !important;
    text-align: center !important;
    font-weight: 500;
}