.header__component {
    width: 100%;
    height: 5rem;
    background-color: rgb(19,46,63);
    color: #fff;
    align-items: center;
    justify-content: center;
}

.action__buttons {
    margin-right: 25px !important;
}

.header__title {
    margin-left: 5rem;
}