.sidebar__component {
    width: 17rem;
    height: 90vh;
    background-color: rgb(19,46,63);
    opacity: 0.9;
    color: #fff;
}

.sidebar__list__item {
    list-style: none;
    font-weight: 700;
    margin: 15px 0 16px 20px;
    font-size: 15px;
    padding: 12px 0;
}

.sidebar__list__link {
    color: #fff;
}

.sidebar__list__link:hover {
    text-decoration: none;
    color: lightgray;
}