/* .swag__sidebar {
    width: 16vw;
    height: 100vh;
    background-color: black;
}

.swag__header {
    width: 84vw;
    height: 8vh;
    background-color: red;
    left: 16vw;
    top: 0;
    position: fixed;
}

.main__content {
    top: 9vh;
    left: 17vw;
    width: 82vw;
    position: fixed;
    background-color: black;
    height: 90vh;
} */